body
   font-family: "Inter", system-ui
   background: #313C8C
   font-weight: 400
   font-size: 16px
   line-height: 100%
   color: rgb(32, 32, 32)
a
   text-decoration: none
   box-sizing: border-box
   transition: 0.5s !important
   &:hover 
      color: $blue
.yel 
   color: $blue
.container
   padding: 0 15px
   max-width: 1628px
   margin: 0 auto
   @media ( max-width: 1199px )
      max-width: 960px
   @media (max-width: 991px)
      max-width: 720px
   @media (max-width: 767px)
      max-width: 540px
.d-flex, .q
   display: flex
.body-wrap
   overflow: hidden
   position: relative
   display: flex
   flex-direction: column
   min-height: 100vh
footer
   margin-top: auto
h1
   color: rgba(255, 255, 255, 1)
   font-size: 178.22px
   font-weight: 900
   line-height: 100%
   text-align: center
   text-transform: uppercase
   margin: 0
h2 
   margin: 0
   color: rgba(255, 255, 255, 1)
   font-size: 89px
   font-weight: 800
   line-height: 100%
   text-align: center
   text-transform: uppercase
   // &:before 
   //    content: ""
   //    display: block
   //    position: absolute
   //    left: -162px
   //    top: 50%
   //    margin-top: -2.5px
   //    width: 81px
   //    height: 5px
   //    background: $blue
ul 
   margin: 0
   padding: 0
   list-style-type: none
p
   margin: 0
.svg, rect, line, circle
   transition: 0.5s ease
a
   transition: color 0.5s ease
   box-sizing: border-box
li
   a
      transition: color 0.5s ease
button
   cursor: pointer
   box-sizing: border-box
textarea
   transition: border 0.5s
   box-sizing: border-box
   &:focus
      transition: border 0.5s
      outline: none
      border: 1px solid $blue
input
   transition: 0.5s
   box-sizing: border-box
   border: 1px solid #fff
   &:disabled
      pointer-events: none
      opacity: 0.5
   &:focus 
      border: 1px solid $blue 
      transition: 0.5s
   &:focus-visible
      outline: initial
path
   transition: fill 0.5s, stroke 0.5s
div 
   box-sizing: border-box
.icon 
   transition: fill 0.5s, stroke 0.5s
html * 
   scrollbar-width: thin
   scrollbar-color: blue $blue
.popup__bg
   scrollbar-width: thin
   scrollbar-color: transparent transparent
*::-webkit-scrollbar,
html *::-webkit-scrollbar 
   height: 7px
   width: 7px
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track 
   background: #E7E7E7
   border-radius: 3px
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb 
   background-color: $blue
   border-radius: 6px
.btn 
   display: flex
   align-items: center
   justify-content: center
   transition: 0.5s
   box-sizing: border-box
   position: relative
   width: 336px
   height: 70px
   box-sizing: border-box
   border: 1px solid rgba(255, 255, 255, 0.2)
   border-radius: 10px
   background: rgba(255, 255, 255, 1)
   color: rgba(49, 60, 140, 1)
   font-size: 20px
   font-weight: 700
   line-height: 100%
   .svg 
      margin-left: 15px
      
