@media screen and (max-width: 1620px)
   .scroll-nav
      right: 10px
   .scroll-nav img
      margin-left: 10px
   .scroll-nav__current
      position: relative
      left: 10px
      font-size: 28px
   .container
      max-width: 1350px !important
   .nav__box ul li a
      font-size: 16px
   .nav__call
      font-size: 18px
      height: 62px
      width: 240px
      margin-left: 25px
   .nav__box ul li
      margin-right: 25px
   .nav__whatsapp
      margin-right: 15px
   .nav__logo
      width: 163px
      margin-right: 30px
   .nav__tel
      font-size: 17px
      margin-left: 0
   h1 
      font-size: 150px
   .header__bottom span
      br 
         display: none
   .header__bottom span
      font-size: 17px
   .header__bottom p
      font-size: 27px
   .tar__item p
      font-size: 23px
   .form__item .selectCF .titleCF
      max-width: 181px
   .info__top p
      font-size: 16px
   h2 
      font-size: 69px
   .item__el h3
      font-size: 80px
      line-height: 120%
   .item__content p
      font-size: 18px
   .item__content p
      max-width: 48%
   .scroll-nav__next span
      font-size: 17px
      margin-top: 30px
   .about__item
      max-width: 32.3%
   .about__item:nth-child(1), .about__item:nth-child(4)
      max-width: 66%
   .par__bottom p
      font-size: 23px
   .par__bottom div a
      width: 184px
   .title
      .svg 
         width: 55px
         position: relative
         top: 2px
   .van__item h3
      font-size: 26px
      line-height: 120%
   .van__item p
      font-size: 18px
      line-height: 120%
   .van__row img
      height: 270px
   .area__item
      width: 32.3%
   .area__item h3
      font-size: 28px
      line-height: 120%
   .area__item p
      font-size: 18px
      line-height: 120%
   .area__item .q a
      width: 47.9%
   .per__item
      height: 360px
      width: 48.9%
   .per__item:nth-child(1), .per__item:nth-child(3)
      width: 23.9%
   .per__item span 
      height: 125px
      font-size: 84.71px
      width: 252px
   .per__item:nth-child(2) span
      width: 450px
   .per__item p
      font-size: 27px
   .partners__item:nth-child(1), .partners__item:nth-child(2)
      width: 49.2%
   .partners__item
      width: 32.3%
      height: 230px
   .partners__item img
      max-height: 41%
   .work .swiper-pagination3 span:before
      font-size: 24px
      line-height: 28px
      left: 115px
      top: -179px
      width: 361px
   .work .swiper-pagination3 span:nth-child(2):before
      top: -198px
   .work .swiper-pagination3 span:nth-child(6):before
      top: -198px
   .work__top span
      flex: 1 0 auto 
      max-width: 100px
      width: 100px
      height: 100px
   .work__top p
      font-size: 37px
      line-height: 120%
   .work__top small
      font-size: 18px
      margin-top: 5px
      line-height: 120%
   .work .swiper-pagination3 span
      width: 149px
      height: 500px
      padding: 20px 10px
   .work .swiper-pagination3 span:first-child:before
      top: -198px
   .work .swiper-pagination3 span:nth-child(5):before
      top: -198px
   .work .swiper-pagination3 span:after
      width: 80px
      height: 80px
      font-size: 25px
      position: relative
      left: -23px
   .work .swiper3 .swiper-slide
      height: 500px
   .cases .swiper4 .swiper-slide
      max-width: 48%
      height: 700px
      padding-top: 232px
   .cases .swiper4 .swiper-slide h3
      font-size: 28px
      line-height: 120%
   .cases .swiper4 .swiper-slide ul li
      font-size: 18px
   .tar
      padding: 120px 0 0
   .tar .call__wrap
      margin-bottom: 100px
   .item, .about, .par, .van, .area, .per, .partners, .work, .contacts
      padding: 120px 0
   .work
      padding-top: 120px
   .footer
      padding: 100px 0
   .footer__logo
      width: 100%
   .footer__center ul li a
      width: 170px
      height: 65px
      display: flex
      font-size: 16px
   .footer__tel
      font-size: 45px
   .header__pic2
      top: 248px
   .item__el
      height: 480px
   .call
      padding-top: 120px
   .header-policy h1
      font-size: 58px
   .policy
      padding: 100px 0
   .popup .title .close-popup, .popup2 .title .close-popup
      top: 51px
   .popup, .popup2
      top: 20rem
@media screen and (max-width: 1350px)
   .container
      max-width: 1200px !important
   .nav .nav__tel
      display: none
   .nav .nav__call
      margin-left: 20px
   h1 
      font-size: 129px
   .form__item input
      font-size: 17px
   .form__item .selectCF .titleCF
      font-size: 17px
   .form__item .selectCF .arrowCF
      right: 16px
   .info__top p
      font-size: 12px
   h2 
      font-size: 57px
   .item__sub
      margin-bottom: 40px
   .item__el h3
      font-size: 67px
   .about__item:nth-child(1), .about__item:nth-child(4)
      max-width: 65.5%
   .about__item
      max-width: 32%
   .area__item
      width: 32.1%
   .per__item
      width: 48.7%
   .partners__item:nth-child(1), .partners__item:nth-child(2)
      width: 49%
   .partners__item
      width: 32%
      padding: 20px 40px
   .work .swiper-pagination3 span
      width: 130px
   .work .swiper-pagination3 span:after
      left: -14px
   .cases .swiper4 .swiper-slide
      max-width: 47.8%
   .work .swiper-pagination3 span:before
      left: 123px
   .contacts__info
      width: 50%
   .contacts__top a
      font-size: 23px
   .footer__center ul li a 
      width: 155px
      height: 58px
      font-size: 14px
@media screen and (max-width: 1199px)
   .menu-btn 
      width: 42px
      height: 42px
      position: absolute
      right: 0px
      top: 19px
      z-index: 11
      overflow: hidden
      background: url(/img/bur1.svg) no-repeat center center
   .menu-btn span 
      width: 38px
      display: none
      height: 2px
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background-color: $blue
      transition: all 0.5s
   .menu-btn span:nth-of-type(2) 
      top: calc(50% - 8.5px)
      width: 38px
      height: 2px
   .menu-btn span:nth-of-type(3) 
      top: calc(50% + 9.4px)
      width: 38px
      height: 2px
   .menu 
      position: fixed
      top: 86px
      right: 0
      width: 100%
      height: 100vh  
      padding: 50px 20px 
      background: rgba(49, 60, 140, 1)
      transform: translateX(500%)
      transition: transform 0.5s
      z-index: 1000
      overflow: hidden
      display: flex
      flex-direction: column 
      align-items: flex-end
      .nav__mail
         margin-bottom: 30px
         color: rgba(255, 255, 255, 1)
         font-size: 25px
         font-weight: 600
         line-height: 100%
         text-align: right
         display: block
      .nav__info
         display: flex
         text-align: right
         margin-bottom: 30px
         justify-content: flex-end
      ul 
         li 
            margin-bottom: 40px
            text-align: right
            a 
               color: rgba(255, 255, 255, 1)
               font-size: 18px
               font-weight: 600
               line-height: 100%
      .nav__tel
         margin-left: auto
         display: flex
         justify-content: flex-end
         color: rgba(255, 255, 255, 1)
         font-size: 25px
         font-weight: 600
         line-height: 100%
         opacity: 1
         margin-bottom: 30px
      .menu__text
         margin-bottom: 30px
         opacity: 0.7
         color: rgba(255, 255, 255, 1)
         font-size: 20px
         font-weight: 500
         line-height: 100%
         text-align: right
      .nav__call
         margin-left: 0
         width: 100%
         height: 60px
         border: 1px solid rgba(255, 255, 255, 1)
         border-radius: 82px
      .nav__whatsapp
         margin-right: 0
   .menu .nav__whatsapp
      margin-left: 20px
      display: flex
      width: max-content
   .menu.active
      transform: translateX(0)
   .menu-btn.active 
      overflow: visible
      position: fixed
      right: 32px
      background: url(/img/bur2.svg) no-repeat center center
      top: 19px
   .menu-btn.active span:nth-of-type(1) 
      display: none
   .menu-btn.active span:nth-of-type(2) 
      top: 50%
      width: 24px
      transform: translate(-50%, 0%) rotate(45deg)
      margin-left: 0
   .menu-btn.active span:nth-of-type(3) 
      width: 24px
      top: 50%
      transform: translate(-50%, 0%) rotate(-44deg)
      margin-left: 0
   .menu-btn, .menu
      display: flex
   .container
      max-width: 960px !important
   .nav__box
      position: relative
      ul
         display: none
      .nav__info
         display: none
   .nav 
      border-bottom: 1px solid rgba(202, 202, 202, 0.5)
   .close-popup 
      width: 50px
   h1 
      font-size: 100px
   .header__pic2 
      margin-right: -750px
      top: 248px
      width: 1200px
   .form__flex
      flex-wrap: wrap
      gap: 10px
   .tar .form__flex .form__item
      width: 49.4%
      margin-bottom: 0
      &:last-child
         width: 100%
         margin-bottom: 20px
   .info__flex
      flex-wrap: wrap
   .info__bottom
      height: auto
   .info__item
      width: 31.5%  
   .info__top p
      font-size: 18px
   h2 
      font-size: 45px
   .item__sub
      font-size: 18px
      line-height: 120% 
      text-align: left 
   .title
      padding: 30px
   .title span
      top: -84px
      left: 0
      margin-left: 0
   .item__el h3
      font-size: 60px
   .about__box
      gap: 10px
   .about__item
      max-width: 32.5%
   .about__item:nth-child(1), .about__item:nth-child(4)
      max-width: 66.2%
   .par__bottom
      flex-direction: column
      align-items: flex-start
      padding: 30px
   .par__bottom p
      margin-bottom: 30px
   .par__bottom div a
      &:first-child
         margin-left: 0
   .title .svg 
      width: 41px
      position: relative
      top: 12px
   .area__item
      width: 48.7%
   .per__item
      width: 48.7% !important
      &:last-child
         width: 100% !important
   .partners__item
      width: 48.7% !important
   .work__flex
      flex-direction: column
      align-items: flex-start
   .work .swiper3
      max-width: 100%
   .work .swiper-pagination3
      max-width: 100%
      width: max-content
      justify-content: center
      margin: 20px auto 0
   .work .swiper-pagination3 span:before, .work .swiper-pagination3 span:after
      display: none
   .work .swiper-pagination3 span
      padding: 0
      align-items: center
      justify-content: center
      width: 11.52px
      height: 11.52px
      box-sizing: border-box
      background: rgba(255, 255, 255, 0.1)
      border-radius: 50%
      margin-right: 6px
      &:last-child
         margin-right: 0
   .work .swiper-pagination3 .swiper-pagination-bullet-active
      display: flex
      background: white !important
   .work .swiper3 .swiper-slide
      padding: 20px
      height: 450px
   .work__top
      height: 100%
      flex-direction: column 
      align-items: flex-start
      div 
         order: 1
   .work__top span
      order: 2
      width: 85px
      height: 85px
      max-height: 85px 
      max-width: 85px
      font-size: 25px
      margin-top: auto
      margin-right: 0
   .work__top p
      font-size: 25px
      line-height: 30px
      margin-bottom: 20px
   .work__top small
      font-size: 14px
      line-height: 17px
   .cases .swiper4 .swiper-wrapper
      gap: 0 
      flex-wrap: initial
   .pag 
      display: flex
      justify-content: center
      margin: 0 auto
      .swiper-pagination-bullet-active
         background: white !important
   .pag .swiper-pagination-bullet
      width: 11.52px
      height: 11.52px
      background: rgba(255, 255, 255, 0.1)
   .cases 
      .pag 
         margin-bottom: 20px
   .cases .swiper4 .swiper-slide
      max-width: inherit
   .form__flex .form__item
      width: 100%
   .contacts__wrap 
      padding: 30px 0
      width: 100%
      background: transparent
      position: relative
      bottom: 0
      left: 0
      flex-direction: column
      align-items: flex-start
   .contacts__content
      align-items: flex-start
      flex-direction: column-reverse
      margin-top: 30px
   .contacts #map
      border-radius: 0px
      margin-top: 0
      width: 130% 
      position: relative
      left: -14%
   .contacts__content div
      margin-top: 30px
   .contacts
      padding-bottom: 0  !important
   .scroll-nav
      display: none
   .footer__center
      padding: 30px 0 
      margin-top: 30px
      flex-direction: column 
      align-items: flex-start
   .footer__bottom
      border-bottom: none
      padding: 30px 0  0
      flex-direction: column 
      align-items: flex-start
   .footer__tel
      margin-right: 0
      margin-bottom: 30px
   .footer__policy
      margin-left: 0
   .footer
      padding: 50px 0 40px
   .footer__area
      flex-direction: column 
      align-items: flex-start
   .footer__bottom p
      margin-left: 0
      margin: 30px 0
   .footer__com
      margin-left: 0
   .about 
      .pag 
         display: none
   .form__flex
      gap: 10px
   .popup, .popup2
      top: 28rem
      background: url(/img/bg3.png) no-repeat center center / cover
   .popup .title .close-popup, .popup2 .title .close-popup
      top: 26px
   .cases .swiper4 .swiper-slide
      padding-top: 186px
@media ( max-width: 991px )
   input, textarea, select
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
   .container
      max-width: 720px !important
   h1 
      font-size: 69px
   .header__pic2 
      margin-right: -634px
      top: 248px
      width: 1000px
   .header__bottom p
      margin-bottom: 30px
      br 
         display: none
   .header__row
      flex-direction: column 
      align-items: flex-start
   .header__bottom span
      margin-right: 0
      margin-bottom: 20px
      max-width: 100%
      &:last-child
         margin-bottom: 0
   .header
      padding-bottom: 50px
   .tar
      padding-top: 50px
   .tar__row
      flex-direction: column
      margin-bottom: 30px
   .tar__item
      height: auto
      width: 100%
      margin-bottom: 10px
      &:last-child
         margin-bottom: 0
   .tar__item p
      font-size: 18px
      br 
         display: none
   .tar__name
      font-size: 20px
      margin-bottom: 30px
   .tar .form__flex .form__item
      width: 100%
   .tar .call__wrap
      margin-bottom: 50px
   .info__bottom
      padding: 50px 0
   .info__item
      margin-bottom: 10px
      width: 100%
      &:last-child
         margin-bottom: 0
   .info__flex
      gap: 0
   .item
      padding-top: 130px !important
   .title span
      top: -70px
      width: 261px
      height: 50px
      font-size: 14px
   h2 
      font-size: 34px
      text-align: left
   .title
      padding: 30px 0
      border: none 
      position: relative
      &:before 
         content: ""
         display: block
         position: absolute
         top: 0
         left: -20%
         width: 500%
         background: white 
         height: 1px
      &:after
         content: ""
         display: block
         position: absolute
         bottom: 0
         left: -20%
         width: 500%
         background: white 
         height: 1px
   .title img 
      top: -15px
      right: 0
      margin-right: 0
      width: 31px
   .item__sub
      font-size: 14px
   .item__el
      margin-bottom: 10px
      height: 364px
      padding: 20px
   .item__el h3
      font-size: 25px
      line-height: 35px
   .item__content
      flex-direction: column
      align-items: flex-start
   .item__content p
      font-size: 14px
      line-height: 17px 
      margin-bottom: 20px
      max-width: 100%
   .item__content p:nth-child(2)
      width: 100%
      max-width: 100%
      text-align: left
      margin-bottom: 0
   .item 
      .button 
         display: none
   .item, .about, .par, .van, .area, .per, .partners, .work, .contacts
      padding: 50px 0
   .about__box
      gap: 0
      margin: 36px 0
      flex-wrap: initial
   .swiper2 
      overflow: hidden
   .about__item:nth-child(1), .about__item:nth-child(4), .about__item
      max-width: 100%
   .swiper-pagination2
      margin-bottom: 20px
   .button
      position: relative
      border-radius: 0px
      overflow: visible
      padding: 16px 0
      &:before 
         content: ""
         display: block
         height: 100%
         width: 500%
         left: -500%
         background: rgb(40, 45, 109)
         position: absolute
         top: 0
      &:after
         content: ""
         display: block
         height: 100%
         width: 500%
         right: -500%
         background: rgb(40, 45, 109)
         position: absolute
         top: 0
   .button a
      font-size: 14px
      border-radius: 0px
   .par .swiper1
      margin-top: 27px
      .swiper-slide 
         padding: 20px
         height: 364px
         img 
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            height: 100% 
            z-index: 1
         h3, p 
            color: white
            opacity: 1
         &:after 
            opacity: 1
   .par .swiper1 .swiper-slide h3
      font-size: 25px
      line-height: 30px
   .par .swiper1 .swiper-slide p
      font-size: 14px
      line-height: 17px
   .par 
      .arrow 
         display: none
   .par .swiper1 .swiper-slide p
      margin: 0
   .item__el a
      left: 0
      top: 0
      width: 100%
      height: 100%
      position: absolute
      opacity: 0 !important
   .about 
      .pag 
         display: flex
   .van 
      .title 
         padding-top: 10px
   .van__top
      margin-bottom: 0
      margin-top: 30px
      flex-direction: column
   .van__item
      height: 265px
      padding: 30px 20px
      margin-bottom: 10px
      width: 100%
      &:last-child
         margin-bottom: 10px
   .van__item h3
      font-size: 18px
      line-height: 22px
   .van__item p
      font-size: 14px
      line-height: 17px
   .van__row
      flex-direction: column
      img 
         width: 100%
         height: 152px
         margin-bottom: 10px
         &:last-child
            margin-bottom: 0
         &:nth-child(2)
            display: none
   .area .item__sub
      margin: 20px 0
   .area__item
      min-height: 364px
      margin-bottom: 10px
      padding: 20px
      width: 100%
   .area__box
      gap: 0
   .area__item h3
      font-size: 25px
      line-height: 30px 
   .area__item p
      font-size: 14px
   .area__item:last-child
      height: auto
      min-height: auto
      .area__icon
         display: none
      h3 
         font-size: 18px
         line-height: 110%
         margin-top: 0
         margin-bottom: 0px
   .area__item .q
      flex-wrap: inherit
      a
         height: 132px
         box-sizing: border-box
         border: 1px solid rgba(255, 255, 255, 1)
         border-radius: 10px
         background: rgba(255, 255, 255, 1)
         width: 32.5% !important
         color: rgba(49, 60, 140, 1)
         font-size: 14px
         font-weight: 700
         line-height: 100%
   .per__item
      height: 190px
      width: 100% !important
      padding: 20px
   .per__item span
      font-size: 27px !important
      width: 163px !important
      height: 68px !important
   .per__item p
      font-size: 18px
      line-height: 22px
   .per__box
      gap: 10px
   .partners__item
      height: 100px
      width: 100% !important
   .partners__row
      margin-top: 30px
      gap: 10px
   .partners__item img
      max-height: 60%
   .cases .swiper4 .swiper-slide span
      margin-top: auto
      margin-bottom: 20px
      font-size: 14px
      width: 205px
      height: 37px
   .cases .swiper4 .swiper-slide h3
      font-size: 25px
      line-height: 30px
      margin-bottom: 20px
   .cases .swiper4 .swiper-slide ul li
      font-size: 14px
      line-height: 17px
   .cases .swiper4 .swiper-slide
      padding-top: 30px
      height: 523px
   .cases .swiper4
      margin: 30px 0
   .call
      padding-top: 50px
   .call__wrap
      margin-top: 30px
      padding: 30px 20px
   .form__flex
      gap: 10px
      .form__item
         margin-bottom: 10px
   .form .custom-checkbox + label p, .form .custom-checkbox + label + label p
      font-size: 12px
      line-height: 15px
   .form button
      border-radius: 0px
      background: rgba(255, 255, 255, 0.1)
   .contacts__info
      width: 100%
   .contacts__top
      flex-direction: column 
      align-items: flex-start
   .contacts__top a
      font-size: 25px
      margin-right: 0
      margin-bottom: 30px
   .contacts__top a:last-child
      margin-bottom: 0
   .contacts__btn
      width: 100%
      font-size: 14px
   .contacts__content
      width: 100%
   .footer__tel
      font-size: 25px
   .footer__policy, .footer__bottom p
      font-size: 14px
   .policy__item
      max-width: 100%
   .policy
      padding: 50px 0
   .header-policy
      padding-bottom: 0 !important
      .header__wrap
         padding: 50px 0
   .header-policy h1
      font-size: 23px
      text-align: left
@media screen and (max-width: 767px)
   .container
      max-width: 540px !important
   .close-popup 
      top: 32px
      right: 30px
   .popup
      .call
         padding: 0
   .popup, .popup2
      top: 28rem
   h1 
      font-size: 34px
   .header__wrap
      padding-top: 50px
   .header__pic2 
      margin-right: -724px
      top: 218px
      width: 1000px
   .header__bottom p
      font-size: 20px
   .header__bottom
      padding: 30px 20px
   .tar .form button
      font-size: 14px
   .par__bottom
      padding: 30px 20px
      .q 
         justify-content: space-between
         width: 100%
   .par__bottom div a
      font-size: 14px
      margin-left: 0
      height: 132px
      width: 32%
   .per__box
      margin-top: 30px
   .work .swiper3
      margin-top: 30px
   .form__item input
      padding-left: 20px
      font-size: 18px
   .form__item textarea 
      font-size: 18px
      padding-left: 20px
      line-height: 100%
   .form__item label
      font-size: 14px
   .tar .form__flex .form__item
      margin-bottom: 10px
   .form__flex
      gap: 0
      .form__item
         height: 74px
         margin-bottom: 10px
   .form__item label
      top: 14px
   .form__item .selectCF .titleCF
      font-size: 18px
      padding-top: 43px
   .form__item .selectCF .arrowCF
      top: 16px
   .form__item .onCF li ul
      top: 78px
      border: 1px solid grey
   .selectCF li ul li
      height: 35px
      font-size: 16px !important
   .form button
      font-size: 14px
   .footer__center ul
      width: 100%
      flex-direction: column
   .footer__center ul li
      width: 100%
      margin-right: 0
      margin-bottom: 10px
      &:last-child
         margin-bottom: 0
      a 
         padding-left: 30px
         font-size: 14px
         justify-content: flex-start
         width: 100%
   .contacts__btn
      height: 60px
   .policy__item p
      font-size: 14px
   .policy__item h3
      font-size: 18px
   .policy__item
      margin-bottom: 30px
   .header-policy 
      .title img
         right: 57px
   .popup, .popup2
      top: 28rem
      .call .title img:first-of-type
         display: none
      h2 
         text-align: center
   .popup .title .close-popup, .popup2 .title .close-popup 
      top: -15px
      right: 50%
      margin-right: -15px
@media screen and (max-width: 576px)
   button:active, button:focus 
      outline: none
   button::-moz-focus-inner 
      border: 0
   a:active, a:focus
      outline: none
   input, textarea
      outline: none
   input:active, textarea:active
      outline: none
   input:focusout
      outline: none
   .mob 
      display: block !important
   .popup 
      padding-left: 0px
      padding-right: 0px
      padding-top: 180px
      top: 22rem
   .container
      padding: 0 20px
   .nav__box
      padding: 16px 0
   .menu-btn
      top: 11px
   .menu-btn.active
      right: 20px
      top: 11px
   .menu
      padding: 15px 20px 0px
   .popup-call__box
      width: 320px
      padding: 60px 20px 40px
      margin-left: -160px
   .popup__title
      font-size: 21px
   .box-modal__close
      top: 10px
      right: 10px
      width: 40px
      height: 40px
   .popup__text 
      font-size: 17px
      text-align: center
      line-height: 120%
   .menu
      padding: 30px 20px 
      top: 74px
      ul 
         margin-bottom: 40px
   .menu ul li
      margin-bottom: 25px
   .menu .nav__mail, .menu .nav__tel
      font-size: 21px
   .menu .menu__text
      font-size: 17px
   .menu .nav__call
      width: 100%
      font-size: 14px
   .nav__menu 
      padding-top: 30px
      width: 100%
      border-top: 1px solid rgba(255, 255, 255, 0.2)
   .header__pic2 
      right: 0
      margin-right: 0
      top: 109px
      width: auto
   .header__bottom
      margin-top: 342px
   .header__bottom span
      font-size: 14px
   .info__item
      height: 136px !important
   .item__el h3
      line-height: 30px
   .about__item h3
      font-size: 25px
      line-height: 30px
   .about__item
      padding: 20px
   .about__item p
      font-size: 14px
      line-height: 17px
   .par__bottom p
      br 
         display: none
   .title .svg
      width: 30px
      top: 17px
   .area__item .q
      margin-top: 30px
   .cases .swiper4 .swiper-slide
      padding: 20px
   .cases .swiper4 .swiper-slide ul li:before
      top: 7px
   .form__item textarea
      padding-right: 20px
   .form .calc__item
      margin-top: 20px
   .call__air
      left: 0
      margin-top: 30px
   .call
      padding-bottom: 30px
   #popup2 
      .popup2
         background: transparent
         top: 20rem
      .call__fig
         display: block !important
   .call__fig
      display: none
   .cases .swiper4 .swiper-slide h3
      br 
         display: none
   .cases .swiper4 .swiper-slide
      height: auto